@import "../../../../assets/styles/mixis";
@import "../../../../assets/styles/colors";

.select-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dash-title {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 3px;
    color: $font_color;
  }
  .items {
    display: flex;
    justify-content: space-between;
    .filter {
      @include wh();
    }
  }
}

@include mobile {
  .select-options {
    display: flex;
    flex-direction: column;
    .dash-title {
      margin-bottom: 20px;
    }
  }
}
