<div class="dash-container" *ngIf="loader">
  <div class="loader"></div>
</div>
<div class="dash-container" *ngIf="!loader">
  <div class="header">
    <ctm-dash-header></ctm-dash-header>
  </div>
  <div class="dash">
    <div class="cards" *ngFor="let card of cards">
      <ctm-cards [card]="card" (clickEmitter)="clickEvent($event)"></ctm-cards>
    </div>
  </div> 
</div>
<div *ngIf="openEditCard">
  <ctm-modal [open]="openEditCard" [id]="id" (senClosed)="openEditCard = $event"></ctm-modal>
</div>
