$primary: #1C1B21;
$icon_primary: #4b4a52;
$side_nav: #2a2931;
$card: #27262e;
$border_card: #2b2a31;
$font_color: #f9f8fa;
$write: #FFF;

.dash {
  width: 100%;
  height: 100vh;
  background-color: $primary;
  display: flex;
  .cards {
    display: flex;
    margin: 15px;
  }
}