$primary: #1C1B21;
$icon_primary: #4b4a52;
$side_nav: #2a2931;
$card: #27262e;
$border_card: #2b2a31;
$font_color: #f9f8fa;
$write: #FFF;
@import '../../assets/styles/colors';
@import '../../assets/styles/mixis';

.dash-container {
  width: 100%;
  height: 100vh;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    width: 92%;
  }
  .dash {
    margin: 20px 0 0 50px;
    height: 80vh;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    @include scroolStyle();
    .cards {
      display: flex;
      margin: 10px 20px 0 0;
    }
  }
}

@include mobile {
  .dash-container {
    .dash {
      justify-content: center;
      .cards {
        display: flex;
        margin: 20px 15px 20px 0;
      }
    }
  }
}