<div class="card">
  <div class="card-left">
    <p
      [ngClass]="{
        yellow: card.color === 1,
        blue: card.color === 2,
        red: card.color === 3
      }"
    ></p>
  </div>

  <div class="card-body">
    <div class="item-menu">
      <p>{{ typeClient() }}</p>
      <button class="btn-action" (click)="openModal()">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
    <div class="card-footer">
      <p class="name">{{ card.name }}</p>
      <p class="first-name">{{ card.firstName }}</p>
    </div>
  </div>

  <div class="modal" *ngIf="showModal">
    <ul *ngFor="let action of actions">
      <li>
        <a
          (click)="
            clickEmitter.emit({ type: action.id, id: card.id });
            showModal = false
          "
        >
          <p>{{ action.action }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
