@import '../../../../assets/styles/mixis';
@import '../../../../assets/styles/colors';

.dash-header {
  .select-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dash-title {
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 3px;
      color: $font_color;
    }
    .items {
      display: flex;
      justify-content: space-between;
      .filter {
        @include wh();
      }
      .filter-options {
        display: flex;
        margin-left: 20px;
        a {
          font-size: 12px;
        }
        .items-select {
          @include wh();
          margin-right: 2px;
        }
      }
      .filter-search {
        margin-left: 20px;
        @include wh();
      }
    }
  }
}