@mixin opacity {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.container-filter {
  width: 100%;
  // margin: 33px 0;
  margin: 30px auto;

  // padding: 0 67px;
  // max-width: 1440px;

  // INPUT SEARCH
  .dnd-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dnd-element {
      display: flex;
      .dnd-input {
        width: 306px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        .dnd-input-control {
          width: 94%;
          font-size: 12px;
          line-height: 16px;
          display: flex;
          align-items: flex-end;
          color: #6F6F6F;
          @include opacity();
        }
        .btn-search {
          cursor: pointer;
          @include opacity();
        }
      }
      .dnd-itens-filter {
        margin-left: 15px;
        .btn-filter {
          width: 36px;
          height: 36px;
          border-radius: 7px;
          border: 1px solid #F2F2F2;
          background-color: transparent;
          cursor: pointer;
          &:focus {
            outline: none;
          }     
        }
        .dnd-dot-alert {
          position: relative;
          margin-left: -10px;
          top: -10px;
        }
      }
    }
  } 

  // SEARCH FILTER
  .more-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
    background: #F9F9F9;
    .container-form {
      display: flex;
      align-items: center;
      .select-filter {
        height: 36px;
        margin-right: 16px;
        .dropdown-list {
          display: flex;
          flex-direction: column;
          width: 207px;
          height: 158px;
          li {
            a {
              width: 100%;
              display: flex;
              padding: 0 0 0 20px;
              &:nth-child(1) {
                padding-top: 27px;
              }
              &:nth-child(2) {
                padding: 25px 0;
              }
              img {
                margin-right: 12px;
              }
              p {
                font-size: 14px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #2A2A2A;
              }
            }
          }
        }
      }
      .list-checked {
        display: flex;
        .item-checked {
          .item-action {
            display: flex;
            text-align: center;
            margin-left: 16px;
            label {
              font-size: 12px;
              line-height: 16px;
              display: flex;
              align-items: center;
              color: #2A2A2A;
            }
            input{
              all: unset;
              border: 1px solid #ACACAC;
              width: 14px;
              height: 14px;
              border-radius: 4px;
              margin-right: 13px;
              &:checked {
                width: 14px;
                height: 14px;
                background-color: #00866E;
                &::before {
                  content: url('../../assets/svgs/checked.svg');
                  text-align: center;
                  font-weight: bold;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #FFF;
                }
              }
            }
          }
        }
      }
    }
    .filter-actions {
      display: flex;
      align-items: center;
    }
    
  }

}