<div class="container">
  <ctm-side-menu></ctm-side-menu>
  <div class="dash-router">
    <router-outlet></router-outlet>
  </div>
</div>



<!-- MALA
<i class="fas fa-briefcase"></i>
PACOTE
<i class="fas fa-box"></i>
GRAFICO
<i class="fas fa-signal"></i>
ENGRENAGEM
<i class="fas fa-cog"></i>
DOWNLOADER
<i class="fas fa-cloud-download-alt"></i>
MAIS
<i class="fas fa-plus"></i>
MAIS COM BORDA
<i class="fas fa-plus-square"></i>
BUSCA
<i class="fas fa-search"></i>
ORDERNAR ASC
<i class="fas fa-sort-amount-up-alt"></i>
ORDER DESC
<i class="fas fa-sort-amount-down-alt"></i>
ARROW RIGHT
<i class="fas fa-arrow-circle-right"></i>
ARROW DOWN
<i class="fas fa-arrow-circle-down"></i>
ARROW LEFT
<i class="fas fa-arrow-circle-left"></i>
ARROW UP
<i class="fas fa-arrow-circle-up"></i> -->