<div class="card">
  <div class="card-left">
    <p [ngClass]="{'clr': card.colorId === 1}"></p>
  </div>
  <div class="card-body">
    <div class="item-menu">
      <p>{{ card.user.toUpperCase() }}</p>
      <button class="btn-action" (click)="openModal()">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
    <div class="card-footer">
      <p class="name">{{ card.name }}</p>
      <p class="first-name">{{ card.firstName }}</p>
    </div>
  </div>

  <div class="modal" *ngIf="showModal">
    <ul *ngFor="let action of actions">
      <li (click)="clickEmitter.emit({type: action.id, id: card.id}); showModal = false">
        <p>{{ action.action }}</p>
      </li>
    </ul>
  </div>
</div>