@import '../../../../assets/styles/colors';

.card {
  width: 150px;
  height: 220px;
  background-color: $card;
  display: flex;
  border-radius: 3px;
  .card-left {
    width: 8px;
    height: 220px;
    background-color: $border_card;
    border-radius: 3px 0 0 3px;
    p {
      margin-top: 28px;
      width: 3px;
      height: 20px;
      background-color: rgb(255, 208, 0);
      border-radius: 0 2px 2px 0;
      letter-spacing: 5px;
    }
    .clr {
      background-color: rgb(25, 250, 239);
    }
  }
  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 12px;
    .item-menu {
      display: flex;
      justify-content: space-between;
      text-align: center;
      p {
        font-size: 16px;
        font-weight: bold;
        color: $font_color;
        text-align: center;
        letter-spacing: 5px;
      }
      .btn-action {
        border: none;
        background-color: transparent;
        color: $font_color;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        color: $icon_primary;
      }
    }
    .card-footer {
      .name {
        color: $font_color;
        opacity: 0.5;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 2px;
      }
      .first-name {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 600;
        color: $font_color;
        letter-spacing: 1px;
      }
    }
  }
}