.sidenav {
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 0;
  .ctm-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      a {
        width: 100%;
        padding: 20px;
        color: var(--icon-color);
        text-align: center;
        i {
          font-size: 20px;
        }
        &:hover {
          color: var(--light);
        }
      }
      .active {
        color: var(--light);
        background-color: var(--secondary-grey);
      }
    }
  }
  .items-plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--light);
    font-size: 25px;
    i {
      &:hover {
        color: var(--light);
      }
    }
  }
}
