/* You can add global styles to this file, and also import other style files */
@import './assets/styles/reset.scss';
.loader {
  border: 3px solid rgba(148, 146, 146, 0.329);
  border-left-color: #FFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}