@import "./colors";

@mixin scroolStyle {
  &::-webkit-scrollbar-track {
    background-color: $primary;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background: $icon_primary;
  }
  &::-webkit-scrollbar-thumb {
    background: $icon_primary;
  }
}

@mixin wh {
  background-color: $card;
  color: $font_color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  &:nth-last-child(n) {
    margin-right: 10px;
  }
  a {
    font-size: 18px;
    padding: 22px;
    &:active {
      background-color: $icon_primary;
    }
  }
}

@mixin desktop {
  @media (min-width: 1280px) and (max-width: 1439px) {
    @content;
  }
}

@mixin tablexd {
  @media (min-width: 1024px) and (max-width: 1279px) {
    @content;
  }
}

@mixin tablemd {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
